<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Growtopiax.Properties.Settings.polleryConnectionString"
            connectionString="server=localhost;user id=root;password=;database=growtopiax;persistsecurityinfo=False"
            providerName="MySql.Data.MySqlClient" />
        <add name="Growtopiax.Properties.Settings.polleryConnectionString1"
            connectionString="server=localhost;user id=root;password=;database=growtopiax"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>